{% extends 'skeleton.twig' %}

{% block content %}
<main class="page__content contact">
    <div class="page__content-header">
        <h1 class="page-title fade-up">
        	<span class="page-title__el page-title__el--primary">Contact us</span>
        </h1>
    </div>
    <div class="page__main main-content main-content--contact">
        <div class="main-content__section">
            <div class="main-content__block main-content__block_intro">
                <p>
                	Feel free to send any inquiries about Almiriki Restaurant.
                	We'll do our best to get back to you within 24hours.
                </p>
            </div>
            <div class="contact__wrap main-content__block">
                <form class="form" method="post" action="/{{language}}/contact" autocomplete="off">
                    <div class="form-group form-group_lg">
                    	<label for="fullName">Full name</label>
                    	<input
                    		id="fullName"
                    		name="fullName"
                    		class="form-control form-control-lg text-input"
                    		type="text"
                    		required
                    	/>
                    </div>
                    <div class="form-group form-group_lg">
                    	<label for="emailAddress">Email</label>
                    	<input
                    		id="emailAddress"
                    		class="form-control form-control-lg text-input"
                    		name="emailAddress"
                    		type="email"
                    		required
                    	/>
                    </div>
                    <div class="form-group form-group_lg">
                    	<label for="message">Message</label>
                    	<textarea
                    		id="message"
                    		name="message"
                    		class="form-control form-control-lg text-input text-input_area"
                    		required
                    	></textarea>
                    </div>
                    <div class="form-group form-group_submit form-group_lg">
                    	<button class="btn btn-primary btn-lg form__submit cta" type="submit">send message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
<div class="modal fade" role="dialog" tabindex="-1" id="feedback-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                	<span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script>
		$('form').submit(function (evt) {
			evt.preventDefault();
			
			var form = new FormData();
            form.append('fullName', $('#fullName').val());
            form.append('emailAddress', $('#emailAddress').val());
            form.append('message', $('#message').val());
			
			axios.post($(this).attr('action'), form)
                .then(function (response) {
                    $('#feedback-modal').find('.modal-title').html('Thanks for getting in touch!');
                    $('#feedback-modal').find('.modal-body').html('<p>Your message has been submitted. We\'ll get back to you as soon as possible!</p>');
                    $('#feedback-modal').modal('show');
                })
                .catch(function (error) {
                    $('#feedback-modal').find('.modal-title').html('Unable to send your request');
                    $('#feedback-modal').find('.modal-body').html('<p>Could not send your message. Please try again!</p>');
                    $('#feedback-modal').modal('show');
                });

			return false;
		});
	</script>
{% endblock %}