{% extends 'skeleton.twig' %}

{% block content %}
    <div class="page__content-header">
        <h1 class="page-title fade-up"><span class="page-title__el page-title__el--secondary">The </span><span class="page-title__el page-title__el--primary">beach</span></h1>
        <figure class="figure page__hero-figure"><img class="img-fluid figure-img js-load" src="assets/img/stavros_beach.jpg"></figure>
    </div>
    <div class="page__main main-content">
        <div class="main-content__section">
            <div class="main-content__block main-content__block_intro">
                <p>"Stavros Beach", home of Almiriki restaurant. Come for the sea. Stay for the food.</p>
            </div>
            <div class="main-content__block"></div>
        </div>
        <div class="main-content__section">
            <div class="main-content__block">
                <p>Usu ilia accusatory constitute e, in anti map salutation viz, at snit kumquat epicure cum. Per it pique time am. Mel boutique moratorium, bis ponderer aloes. Romanesque acclimates investiture. Meir mod mean rind e, has re leg ere
                    officious consecrate, his in sumo grace.</p>
                <p>Loren sum dolor sit mate, slum vociferous e viz, ad discern inimical perambulator bis. No grace descriptor per, passim qua we discern an sea. Quandary marchioness quo wt, ea sapper mastitis duo, ea quango solute viz. Ne passim
                    mewl est disciplining sit, disco simper liquid quo an, at latrine frugality premeditate cum. Nam e quad qua eke, re me sues om ques men nadir.&nbsp;<br></p>
                <blockquote class="blockquote">
                    <p class="mb-0">Our favourite place on earth will become your favourite place in Crete.</p>
                </blockquote>
                <p>Ill um deselect ma ad, en ferric patine sentient vim. Merriam perpetual occurrence est at, per vitae. Que tongue mutant at, peter chum asseverate en pro. Usu it mollies nostrum, per en appropriate negligent. Grace modifier cu usu,
                    per an homer ail qua copious, exercise nostrum definiteness xiv ex. Mel an quid offend it adversarial, ram dolor impetus. Eli tr principle complected ea is.&nbsp;<br></p>
            </div>
        </div>
        <div class="main-content__section">
            <div class="main-content__block main-content__block_image">
                <figure class="figure"><img class="img-fluid figure-img" src="assets/img/view.jpg">
                    <figcaption class="figure-caption">Caption</figcaption>
                </figure>
            </div>
            <div class="main-content__block">
                <p>Ne fastidious solute albuminous contentions en pro. In pro quins consequent, denim fastidious copious quo ad. Romanesque acclimates investiture. Est ea chin ma rum momentum. Ed ea clit a elect ram referent, at diode imper diet
                    enc. Eel error bemuses definiteness an, ram an kumquat intelligent. Ea elite ague disco bequeath eons. Hui avidity kumquat in.&nbsp;<br></p>
                <p>Er sit insoles deserter. Nev regions detract ex. Hui avidity kumquat in. Ne passim mewl est disciplining sit, disco simper liquid quo an, at latrine frugality premeditate cum. Ea usu stet alters. Ea elite ague disco bequeath eons.
                    Pei commode imp edit no, his ad ferric fug it efficient. Us doctors time am error ibis no.&nbsp;<br></p>
            </div>
        </div>
    </div>
    <aside class="aside">
        <h2 class="aside__title">See also</h2>
        <ul class="nav aside__nav">
            <li class="nav-item"><a class="nav-link active" href="/restaurant">The restaurant</a></li>
            <li class="nav-item"><a class="nav-link" href="/menu">Our menu</a></li>
            <!--<li class="nav-item"><a class="nav-link" href="/blog.html">Captain's log</a></li>
            <li class="nav-item"><a class="nav-link" href="/recipes.html">Cretan Recipes</a></li>-->
        </ul>
    </aside>
{% endblock %}
