{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'scans' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">New scan</h1>
</div>
<form method="post" autocomplete="off">
    <div class="row mb-3">
		<label class="col-md-2 col-form-label">User</label>
        <div class="col-sm-10">
            <select class="form-select" name="user" tabindex="1">
            	{% for user in users %}
            		<option name="user" value="{{user.getId}}">{{user.getFullName}}</option>
            	{% endfor %}
            </select>
        </div>
    </div>
	<div class="row mb-3">
        <label class="col-md-2 col-form-label">Check in</label>
        <div class="col-md-10">
            <input type="datetime-local" name="checkIn" class="form-control" tabindex="2"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-md-2 control-label">Check out</label>
        <div class="col-md-10">
            <input type="datetime-local" name="checkOut" class="form-control" tabindex="3"/>
        </div>
    </div>
    <hr/>
    <div class="row mb-3">
		<div class="col-sm-10 offset-sm-2">
			<button type="submit" class="btn btn-primary" tabindex="4">Save</button>
		</div>
	</div>
</form>
{% endblock %}