{% extends 'admin/skeleton.twig' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Translations</h1>
</div>
<div class="table-responsive">
	<table class="table table-striped">
    	<thead>
      		<tr>
      			<th>#</th>
      			<th>Label</th>
      			<th></th>
      		</tr>
    	</thead>
    	<tbody>
    		{% for poString in poStrings %}
    			<tr>
    				<td>{{poString.getId}}</td>
    				<td>{{poString.getLabel}}</td>
    				<td class="text-end">
						<a class="text-decoration-none" href="/admin/po-strings/update?id={{poString.getId}}">
							Update
						</a> |
						<a class="text-decoration-none" href="/admin/po-strings/delete?id={{poString.getId}}">
							Delete
						</a>
					</td>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
{% endblock %}