{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'recipes' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Recipes</h1>
    <div class="btn-toolbar">
       	<a href="/admin/recipes/create" class="btn btn-primary me-2">
            <i class="fa-solid fa-plus"></i> New recipe
        </a>
    </div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
    	<thead>
      		<tr>
      			<th>Name</th>
      			<th></th>
      		</tr>
    	</thead>
    	<tbody>
    		{% for recipe in recipes %}
    			<tr>
    				<td>
    					{% if recipe.getMenuItem is null %}
    						{{recipe.getName}} <span class="badge bg-primary">prep</span>
    					{% else %}
    						{{recipe.getMenuItem.getTranslation('en').getName}} <span class="badge bg-info">menu</span>
    					{% endif %}
    				</td>
    				<td class="text-end">
						<a class="text-decoration-none" href="/admin/recipes/update?id={{recipe.getId}}">
							Update
						</a>
					</td>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
{% endblock %}