{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'shopping-lists' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Shopping-lists</h1>
    <div class="btn-toolbar">
       	<a href="/admin/shopping-lists/create" class="btn btn-primary me-2">
            <i class="fa-solid fa-plus"></i> New shopping list
        </a>
    </div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
    	<thead>
      		<tr>
      			<th>Date</th>
      		</tr>
    	</thead>
    	<tbody>
    		{% for shoppingList in shoppingLists %}
    			<tr>
    				<td>
    					<a class="text-decoration-none" href="/admin/shopping-lists/update?id={{shoppingList.getId}}">
    						{{shoppingList.getDate.format('D j M Y')}}
    					</a>
    				</td>
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
{% endblock %}