{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'supplies' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Προμήθειες</h1>
    <div class="btn-toolbar">
       	<a href="/admin/supplies/create" class="btn btn-primary me-2">
            <i class="fa-solid fa-plus"></i> Νέα προμήθεια
        </a>
    </div>
</div>
{% for supplyGroup in supplyGroups|filter(sg => sg.getSupplies|length > 0) %}
	<h2 class="h4">{{supplyGroup.getName}}</h2>
	<table class="table table-responsive">
		<tbody>
			{% for supply in supplyGroup.getSupplies|filter(s => s.isActive) %}
				<tr>
      			    <td class="ps-4">
						<a class="text-decoration-none" href="/admin/supplies/update?id={{supply.getId}}">{{supply.getName}}</a>
					</td>
                    {#<td class="text-end">
                        <a class="text-decoration-none text-danger confirm" href="/admin/supplies/delete?id={{supply.getId}}">
                            Διαγραφή
                        </a>
                    </td>#}
    			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endfor %}
{% endblock %}