{% extends 'admin/skeleton.twig' %}

{% set activeNavLink = 'tables' %}

{% block content %}
<ol class="breadcrumb pt-3">
    <li class="breadcrumb-item">
        <a href="/admin/" class="text-decoration-none">
            <i class="bi bi-house"></i>
        </a>
    </li>
    <li class="breadcrumb-item">
        <a href="/admin/tables" class="text-decoration-none">Τραπέζια</a>
    </li>
</ol>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-1 mb-3 border-bottom">
    <h1>Τραπέζια</h1>
    <div class="btn-toolbar">
       	<a href="/admin/tables/create" class="btn btn-primary">
            <i class="bi bi-plus-lg"></i>
        </a>
    </div>
</div>
<div class="table-responsive">
	<table class="table table-striped">
    	<tbody>
    		{% for table in tables %}
    			<tr>
    				<td>
    					<a class="text-decoration-none" href="/admin/tables/update?id={{table.getId}}">
                            {{table.getName}}
                        </a>
    					{% if not table.getIsActive %}
    						<span class="badge rounded-pill text-bg-danger">Inactive</span>
    					{% endif %}
    				</td>
    				
    			</tr>
    		{% endfor %}
    	</tbody>
    </table>
</div>
{% endblock %}