.form {
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-column-gap:2rem;
    max-width:40rem;
    @media screen and (max-width:767px) and (orientation:portrait) {
        grid-template-columns:1fr;
   }
}


.form-control {
    transition:$transition;
    background-color:mix($color-accent,white,3%);
    
    border-radius:0;
    border-width:1px 1px 1px 1px;
    border-color:transparentize($color-accent,0.8);
    outline:none !important;
    &:focus {
        border-color:transparentize($color-accent,0.5);
        box-shadow:none;
        background-color:mix($color-accent,white,3%);
    }
}

.form-control[readonly].datetimepicker {
    background-color:mix($color-accent,white,3%);
}


.form-group_lg {
      grid-column-end: span 2;
       @media screen and (orientation:portrait) and (max-width:767px) {
        grid-column-end: span 1;
    }

}


.form__submit {
    text-transform:uppercase;
    border-color:$color-accent;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}


.reservation .form {
    margin-top:3rem;
}


.form-group_submit {
    text-align:center;
    padding-top:1rem;
}