.hero__wrap {
  margin-top: 9rem;
  overflow: hidden;
  position: relative;
  display: flex;
  @include container;
  @media screen and (min-width: 1681px) {
    max-width: 1600px;
  }
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 1921px) {
    max-width: 1800px;
  }
  @media screen and (orientation: landscape) and (max-width: 1200px) {
    margin-top: 4rem;
  }
  @media screen and (orientation: portrait) and (max-width: 1200px) {
    margin-top: 0;
  }
  &::before {
    content: "";
    height: 30vw;
    width: 0;
    min-height: 50vmin;
    overflow: hidden;
    @media screen and (orientation: landscape) and (max-width: 1200px) and (min-height: 700px) and (max-height: 768px) {
      height: calc(100vh - 4rem);
    }
    @media screen and (orientation: portrait) {
      min-height: 100vw;
    }
    @media screen and (orientation: portrait) and (max-height: 768px) {
      min-height: 100vh;
    }
  }
}

.hero {
  flex: 1;
  position: relative;
  $top: 0rem;
  margin-top: $top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: content-box;
  background-size: 180% 100%, cover;
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #fff;
  border-width: 1rem 1rem 1rem;
  background-image: radial-gradient(
      rgba(255, 255, 255, 0.8) 0%,
      rgba(255, 255, 255, 0) 55%
    ),
    url("/assets/img/soupla_all_color_white_lg.jpg");
  @media screen and (max-width: 1200px) {
    background-size: 180% 200%, cover;
    background-clip: border-box;
    padding: 5rem;
    border: none;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0) 70%
      ),
      url("/assets/img/soupla_all_color_white_lg.jpg");
  }
  @media screen and (max-width: 560px) {
    padding: 5rem 2rem;
  }
}

.hero__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 17vw;
  height: 17vw;
  text-align: center;
  border: 0.5rem solid $color-black;
  background: #fff;
  @include center-contents;
  &::before {
    width: 8.5vw;
    height: 8.5vw;
    content: "";
    display: block;
    z-index: 1;
    background-color: $color-black;
    @include center-self;
  }
  &::after {
    width: calc(17vw - 2rem);
    height: calc(17vw - 2rem);
    content: "";
    display: block;
    z-index: 0;
    background-image: url("/assets/img/marine_bg.jpg");
    @include bg-cover;
    @include center-self;
  }
}

.hero__logo-img {
  position: relative;
  z-index: 1;
  width: 5vw;
}

.hero__title {
  font-family: $font-title;
  font-size: 4rem;
  text-transform: uppercase;
  text-shadow: -0.03em 0.03em 0 rgba(255, 255, 255, 0.7);
  text-align: center;
  @media screen and (max-width: 560px) {
    font-size: 3.6rem;
  }
}

.hero-title__span {
  display: block;
  text-align: center;
}

.hero-title__span--1 {
  font-size: 0.5em;
  text-transform: uppercase;
  letter-spacing: 1em;
  &::after {
    display: block;
    content: "";
    background-image: url("wave-line.svg");
    height: 1.5em;
    width: 100%;
    background-size: 95% auto;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.hero-title__span--2 {
  font-weight: 100;
  $size: 1.9em;
  $spacing: 0.7em;
  font-size: 1.9em;
  text-transform: uppercase;
  letter-spacing: 0.7em;
  margin-right: -0.5 * $spacing;
}
.hero-title__span--3 {
  color: $color-accent;
  $size: 4em;
  $spacing: 0.95em;
  font-weight: 100;
  font-size: $size;
  line-height: 0.5;
  letter-spacing: $spacing;
  margin-right: -($spacing/1.2);
  text-shadow: 0.07em 0.07em transparentize($color-accent, 0.8);
}

.hero__sig {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-size: 1rem;
  font-family: $font-body;
  line-height: 1.5;
  display: block;
  font-weight: normal;
  margin-top: 0.5rem;
  p {
    margin: 0;
  }
}
