.generic-page__intro {
  margin-top: -3rem;
  position: relative;
  z-index: 5;
  padding:1rem;
  max-width: 1192px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
  min-height: 15vw;
  border-color: #1C6E82;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4rem;
}

.page-title {
  font-family: $font-title;
  font-size: 1.5rem;
  padding: {
    top: 5em;
    bottom: 8em;
  }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    padding-bottom: 3rem;
  }
}
.page-title__el {
  display: block;
  text-align: center;
  @media screen and (max-width: 767px) and (orientation: portrait) {
    position: relative;
    z-index: 2;
  }
}

.page-title__el--secondary {
  $size: 1.9em;
  $spacing: 0.5em;
  font-weight: 100;
  font-size: $size;
  text-transform: uppercase;
  letter-spacing: $spacing;
  margin-right: -($spacing/1.2);
  @media screen and (max-width: 1023px) {
    font-size: 1.4em;
  }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    font-size: 1.6rem;
    letter-spacing: $spacing/2;
  }
}

.page-title__el--primary {
  color: mix($color-accent, #000, 80%);
  $size: 3em;
  $spacing: 0.25em;
  text-transform: uppercase;
  font-size: $size;
  line-height: 1;
  letter-spacing: $spacing;
  margin-right: -($spacing/1.2);
  text-shadow: 0.07em 0.07em transparentize($color-accent, 0.8);
  @media screen and (max-width: 1023px) {
    font-size: 2.8rem;
  }
  @media screen and (max-width: 767px) and (orientation: portrait) {
    font-size: 2.6rem;
    letter-spacing: $spacing/6;
    margin-bottom: 0.5em;
  }
}

.page__content {
  padding-top: 0rem;
  padding-bottom: 6rem;
}

.page__content-header {
  position: relative;
  $top: 0rem;
  margin-top: $top;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-clip: content-box;
  background-size: 10rem;
  background-color: mix($color-accent, white, 10%);
  &::after {
    content: "";
    display: block;
    background-image: url("/assets/img/tile.png");
    height: 10rem;
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    @media screen and (max-width: 767px) and (orientation: portrait) {
      display: none;
    }
  }
}

.page__hero-figure {
  max-width: 60rem;
  margin-top: -10rem;
  margin-bottom: -10rem;
  position: relative;
  z-index: 2;
  @media screen and (max-width: 767px) and (orientation: portrait) {
    margin-top: 0;
  }
}

.page__hero-figure img {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);
}

.page__main {
  padding-top: 12rem;
  @media screen and (max-width: 767px) and (orientation: portrait) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.main-content__section {
  margin-bottom: 3rem;
}

.main-content__block {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.main-content__block_intro {
  font-size: 1.6rem;
  font-family: $font-title;
  text-align: center;
  &::after {
    content: "";
    display: block;
    height: 5rem;
    background-image: url("/assets/img/starfish_transparent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
}

.main-content__block_image {
  display: flex;
  justify-content: center;
}

.main-content__block_image .figure {
  max-width: 60rem;
}

.blockquote {
  font-family: $font-title;
  position: relative;
  margin: 5rem 0;
  width: 130%;
  left: -10%;
  &::before {
    display: block;
    //ontent:'';
    width: 50%;
    border-top: 1px solid $color-accent;
    margin-bottom: 2rem;
  }
  font-weight: 100;
  font-size: 2.8rem;
  @media screen and (max-width: 1200px) {
    font-size: 2.4rem;
  }
  @media screen and (max-width: 1023px) {
    width: 100%;
    left: 0;
  }
}

.main-content__title {
  text-align: center;
  font-weight: 800;
  margin-bottom: 1em;
}
