.recipe-list {
  max-width: 75rem;
  margin: 0 auto;
}

.recipe-list .slide:nth-child(even) .slide__caption {
  padding-right: 4vw;
  padding-left: 2vw;
  @media (min-width: 768px) {
    order: -1;
  }
}

.recipe-title {
  font-family: $font-title;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.recipe-intro {
  font-family: $font-title;
  font-size: 1.4rem;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  // margin-top:3rem;
  margin-bottom: 2rem;
  @media screen and (max-width: 1023px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.recipe-info {
  display: flex;
  justify-content: space-between;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1.5rem;
  border-top: 1px dotted #ccc;
  padding-bottom: 1.5rem;
  border-bottom: 1px dotted #ccc;
  margin-bottom: 1rem;
  @media screen and (max-width: 1023px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media screen and (max-width: 500px) {
    flex-wrap:wrap;
  }
}

.recipe-info__item:not(:last-child) {
  padding-right: 2rem;
}

.recipe-info__item:last-child {
  @media screen and (max-width: 500px) {
    padding-top:1rem;
  }
}

.recipe-info__item-title {
  font-family: $font-title;
  font-size: 1.5rem;
}
.recipe-info__item-main {
  margin-bottom: 0;
  font-size: 1rem;
  text-transform: uppercase;
}

.recipe-ingredients {
  flex: 0 0 15rem;
}

.recipe-ingredients__title {
  font-family: $font-title;
  font-size: 1.5rem;
}

.recipe-ingredients__item {
  padding: 0.75rem 0;
  font-size: 0.88rem;
  &:not(:last-child) {
    border-bottom: 1px dotted #ccc;
  }
}

.steps {
  padding-left: 2rem;
  margin-left: 2rem;
  border-left: 1px dotted #ccc;
  margin-bottom: 2rem;
  @media screen and (max-width: 500px) {
    margin-left:0;
    border:0;
    padding-left:0;
    padding-top:2rem;
  }
}

.steps__title {
  font-family: $font-title;
  font-weight: 100;
  margin-bottom: 0.5em;
}

.recipe-step {
  margin-bottom: 1.5rem;
}

.recipe-step__title {
  font-weight: 800;
  font-size: 1.8rem;
}

.main-content_recipe {
  display: flex;
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
  @media screen and (max-width: 1023px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  @media screen and (max-width: 767px) {
    display: block;
  }
}

.recipe .share {
  max-width: 60rem;
}

.recipe .page__content-header .title {
  padding-top: 8rem;
}

.recipe .page__content-header {
  margin-bottom: 12rem;
}

.page__main.main-content_recipe {
  padding-top: 0;
}

.recipe .page__hero-figure {
  margin-top: 0;
}

.main-content--recipes,
.main-content--recipes.page__main {
  padding-top: 5rem;
  @media screen and (max-width: 767px) and (orientation: portrait) {
    padding-top:2.5rem;
  }
}
