$color-black: #000000;
$color-dark: #252525;
$color-dark-offset: #060d2f;
$color-accent: #1c6e82;
$color-brand: #39b7ab;
$color-secondary: #9e4130;
$shadow: 0 1rem 2rem rgba(0, 0, 0, 0.05);

$transition: all 0.25s ease-out;
$transition-ease: all 0.25s ease;

$font-title: "Butler";
$font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
